<!DOCTYPE html>
<html lang="en">

<%-include('../include/header'); %>
<body>
    <!-- Page Content -->
    <div class="container">
        <!-- Navigation -->
        <%-include('../include/nav') ;%>
        <%-include('../include/message'); %>

        <div class="col-md-3">
            <p class="lead">Auction house</p>
            <div class="list-group">
                <a href="#" id="products_list" class="list-group-item">List products</a>
                <a href="#" id="auctions_list" class="list-group-item">List auctions</a>
                <a href="./newproduct" id="newproduct" class="list-group-item">Add product</a>
            </div>
        </div>
        <div class="col-md-8" id="action_show"></div>
    </div>
    <!-- /.container -->

<script src="/assets/js/seller_profile.js"></script>
</body>

</html>
