<!DOCTYPE html>
<html lang="en">
	<%-include('./include/header'); %>
<body>
	<%-include('./include/nav') %>
	<h1> New product </h1>
	<br>
	<form action="./newproduct" method="POST" enctype="multipart/form-data">
		<table border="0.2rem">
			<tr>
				<th> Product name </th>
				<td> <input type="text" name="proname" placeholder="Chair"></td>
			</tr>
			<tr>
				<th> Image 1 </th>
				<td> <input type="file" name="img_1"></td>
			</tr>
			<tr>
				<th> Image 2 </th>
				<td> <input type="file" name="img_2"> </td>
			</tr>
			<tr>
				<th> Image 3 </th>
				<td> <input type="file" name="img_3"> </td>
			</tr>
			<tr>
				<th> Description </th>
				<td> <textarea name="description" id="editor" cols="70" rows="10"></textarea></td>
			</tr>
		</table>
		<button type="submit">Create product</button>
	</form>

		<!-- <script src="./assets/js/description-editor.js"></script> -->
		<script>
			$(function(){
				$('textarea#editor').froalaEditor();
			});
		</script>
</body>
</html>