<%var flash = locals._flash %>
<%	var err = flash.error%>
<%	var success = flash.success%>
<%	var warning = flash.warning%>
<%	var info = flash.info%>

<% if (typeof err !='undefined') { %>
	<div class="alert alert-danger">
  		<strong>Error!</strong> <%= err %>
	</div>
<% }  else { %>
	
<% } %>

<% if (typeof success != 'undefined') { %>
	<div class="alert alert-success">
  		<strong>Success!</strong> <%= success %>
	</div>
<% } else { %>
	
<% } %>

<% if (typeof warning != 'undefined') { %>
	<div class="alert alert-warning">
  		<strong>Warning!</strong> <%= warning %>
	</div>
<% } else { %>
	
<% } %>

<% if (typeof info != 'undefined') { %>
	<div class="alert alert-info">
  		<strong>Info!</strong> <%= info %>
	</div>
<% } else { %>
	
<% } %>



<%/*


// <div class="alert alert-success">
//   <strong>Success!</strong> Indicates a successful or positive action.
// </div>

// <div class="alert alert-info">
//   <strong>Info!</strong> Indicates a neutral informative change or action.
// </div>

// <div class="alert alert-warning">
//   <strong>Warning!</strong> Indicates a warning that might need attention.
// </div>

// <div class="alert alert-danger">
//   <strong>Danger!</strong> Indicates a dangerous or potentially negative action.
// </div>
*/%>